@import "../../../assets/styles/scss/components/editor";
:host /deep/ {
  quill-editor {
    display: block;
  }
  .ng-invalid {
    border: 1px dashed red;
  }

  .ql-container.ql-snow,
  .ql-toolbar.ql-snow {
    border: 0;
  }
}