<h4 class="ml-xs">Default editor</h4>
<mat-card class="mb-2">
  <quill-editor (onEditorCreated)="setFocus($event)"></quill-editor>
</mat-card>

<h4 class="ml-xs">Reactive Forms and patch value</h4>
<h6 class="ml-xs">
  <span>{{form.controls.editor.value}}</span>
  <button type="button" (click)="patchValue()">patchValue</button>
</h6>
<mat-card class="mb-2">
  <form [formGroup]="form">
    <quill-editor #editor formControlName="editor"></quill-editor>
  </form>
</mat-card>

<h4 class="ml-xs">Bubble editor</h4>
<mat-card class="mb-2">
  <quill-editor theme="bubble" placeholder="Bubble editor" bounds=".mat-drawer-content"></quill-editor>
</mat-card>

<h4 class="ml-xs">Editor without toolbar + required and ngModule</h4>
<h6 class="ml-xs">
  <button (click)="toggleReadOnly()">Toggle ReadOnly</button>
  <span>{{isReadOnly}} {{title}}</span>
</h6>
<mat-card class="mb-2">
  <quill-editor [(ngModel)]="title" [maxLength]="5" [minLength]="3" [required]="true" [readOnly]="isReadOnly" [modules]="{toolbar: false}" (onContentChanged)="logChange($event);" (onSelectionChanged)="logSelection($event);"></quill-editor>
</mat-card>

<h4 class="ml-xs">Custom Toolbar with toolbar title-attributes + Word counter</h4>
<mat-card>
  <quill-editor [modules]="{ counter: { container: '#counter', unit: 'word' } }">
    <div quill-editor-toolbar>
      <span class="ql-formats">
        <button class="ql-bold" [title]="'Bold'"></button>
      </span>
      <span class="ql-formats">
        <select class="ql-align" [title]="'Aligment'">
          <option selected></option>
          <option value="center"></option>
          <option value="right"></option>
          <option value="justify"></option>
        </select>
        <select class="ql-align" [title]="'Aligment2'">
          <option selected></option>
          <option value="center"></option>
          <option value="right"></option>
          <option value="justify"></option>
        </select>
      </span>
      <span class="ql-formats">
        <div id="counter"></div>
      </span>
    </div>
  </quill-editor>
</mat-card>