<mat-card class="card-container">
  <mat-card-title class="default-header">
    <div style="font-weight: bold"> {{header}}</div>
  </mat-card-title>
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button type="{{searchButtonType}}" class="search-button">
      <mat-icon>search</mat-icon>
      <span style="padding-left: 5px">{{searchLabel}}</span>
    </button>

    <button mat-raised-button type="button" class="add-button" (click)="add($event)" *ngIf="showAddButton">
      <mat-icon>add</mat-icon>
      <span style="padding-left: 5px">{{addLabel}}</span>
    </button>

    <button mat-raised-button type="button" (click)="reset($event)" class="reset-button">
      <mat-icon>restore</mat-icon>
      <span style="padding-left: 5px">{{resetLabel}}</span>
    </button>
  </mat-card-actions>

</mat-card>