.header {
    width: 100%; 
    height: 100px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background: #1fa0e4;
    background: linear-gradient(#1fa0e4, #1992d1);
    color: white
}

input[type="text"] {
    width: 100%;
}


.min-width-100 {
    min-width: 100%
}

.customContent {
    padding: 0 !important;
}

.customContent mat-dialog-content {
    padding: 0;
    margin: 0;
    height: 100%
}



