<md-sidenav-container [class.m2app-dark]="isDarkTheme">
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    Sidenav
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button> Angular Material2 Example App

    <span class="app-toolbar-filler"></span>
    <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
  </md-toolbar>

  <div class="app-content">

    <md-card>
      <md-card-title>Button</md-card-title>
      <md-card-content>
        <button md-button>FLAT</button>
        <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
        <button md-raised-button color="primary">PRIMARY RAISED</button>
        <button md-raised-button color="accent">ACCENT RAISED</button>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title>CheckeBox</md-card-title>
      <md-card-content>
        <md-checkbox>Unchecked</md-checkbox>
        <md-checkbox [checked]="true">Checked</md-checkbox>
        <md-checkbox [indeterminate]="true">Indeterminate</md-checkbox>
        <md-checkbox [disabled]="true">Disabled</md-checkbox>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title>Radio</md-card-title>
      <md-card-content>

        <md-radio-button name="symbol">Alpha</md-radio-button>
        <md-radio-button name="symbol">Beta</md-radio-button>
        <md-radio-button name="symbol" disabled>Gamma</md-radio-button>
      </md-card-content>
    </md-card>


    <md-card class="app-input-section">
      <md-card-title>Input</md-card-title>
      <md-card-content>

        <md-input-container>
          <input mdInput placeholder="First name" />
        </md-input-container>

        <md-input-container>
          <input mdInput #nickname placeholder="Nickname" maxlength="50" />
          <md-hint align="end">
            {{nickname.characterCount}} / 50
          </md-hint>
        </md-input-container>

        <md-input-container>
          <input mdInput />

          <md-placeholder>
            <i class="material-icons app-input-icon">android</i> Favorite phone
          </md-placeholder>
        </md-input-container>

        <md-input-container placeholder="Motorcycle model">
          <input mdInput />
          <span md-prefix>
          <i class="material-icons app-input-icon">motorcycle</i>
          &nbsp;
        </span>
        </md-input-container>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title>List</md-card-title>
      <md-card-content>
        <md-list class="app-list">
          <md-list-item *ngFor="let food of foods">
            <h3 md-line>{{food.name}}</h3>
            <p md-line class="demo-secondary-text">{{food.rating}}</p>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title>Spinner</md-card-title>
      <md-card-content>
        <md-spinner class="app-spinner"></md-spinner>
        <md-spinner color="accent" class="app-spinner"></md-spinner>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title>Progress Bar</md-card-title>
      <md-card-content>
        <label>
          Indeterminate progress-bar
          <md-progress-bar
              class="app-progress"
              mode="indeterminate"
              aria-label="Indeterminate progress-bar example"></md-progress-bar>
        </label>

        <label>
          Determinate progress bar - {{progress}}%
          <md-progress-bar
              class="app-progress"
              color="accent"
              mode="determinate"
              [value]="progress"
              aria-label="Determinate progress-bar example"></md-progress-bar>
        </label>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title>Tabs</md-card-title>
      <md-card-content>
        <md-tab-group>
          <md-tab label="Earth">
            <p>EARTH</p>
          </md-tab>
          <md-tab label="Fire">
            <p>FIRE</p>
          </md-tab>
        </md-tab-group>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title>Icon</md-card-title>
      <md-card-content>
        <md-icon>build</md-icon>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title>Menu</md-card-title>
      <md-card-content>
        <button md-button [md-menu-trigger-for]="menu">
          MENU
        </button>
      </md-card-content>
    </md-card>

    <md-menu #menu="mdMenu">
      <button md-menu-item>Lemon</button>
      <button md-menu-item>Lime</button>
      <button md-menu-item>Banana</button>
    </md-menu>

    <md-card>
      <md-card-title>Dialog</md-card-title>
      <md-card-content>
        <p>Last dialog result: {{lastDialogResult}}</p>
        <button md-raised-button (click)="openDialog()">DIALOG</button>
        <button md-raised-button (click)="showSnackbar()">SNACKBAR</button>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title>AutoComplete</md-card-title>
      <md-card-content>
        <app-autocomplete> </app-autocomplete>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title>Calendar</md-card-title>
      <md-card-content>
        <md-input-container>
          <input mdInput placeholder="Choose a date" type="date">
        </md-input-container>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title>Select</md-card-title>
      <md-card-content>
        <md-select placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
          <md-option *ngFor="let food of foods" [value]="food.name">
            {{food.name}}
          </md-option>
        </md-select>
        <p> Selected value: {{selectedValue}} </p>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title>Slider</md-card-title>
      <md-card-content>
        <md-slider thumbLabel tickInterval="1"> </md-slider>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title>Slide Toggle</md-card-title>
      <md-card-content>
        <md-slide-toggle> </md-slide-toggle>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title>Chips</md-card-title>
      <md-card-content>
        <md-chip-list class="mat-chip-list-stacked">
          <md-chip *ngFor="let chipColor of availableColors" selected="true" color="{{chipColor.color}}">
            {{chipColor.name}}
          </md-chip>
        </md-chip-list>
      </md-card-content>
    </md-card>





  </div>
</md-sidenav-container>