.mat-dialog-title  {
    margin: 0 0 10px 0;
    font-weight: bold;
}

.mat-dialog-container {
    padding: 24px 24px 0 24px !important;
    background: blue;
}

.dialog-container-height {
    height: calc(100% - 105px);
}

