.rating-container {
    display: flex;
}

.rating-cursor {
    cursor: pointer;
}


.rating-color-selected {
    color: #ffd740;
}

.rating-color {
    color: #cacaca;
}

.rating-font-size {
    font-size: 32px;
}